/* Define a altura mínima da tela para ocupar o viewport */
.half {
  min-height: 100vh; /* Garante que ocupa 100% da altura da viewport */
}

.container{
  margin: 0px;
  padding: 0px !important;
}

.bg {
  background-size: cover; /* Ajusta a imagem para cobrir todo o espaço */
  background-position: center; /* Centraliza a imagem */
}

.opacity-mask {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  padding: 20px;
}

#dsd-heading {
  font-size: 2.5rem; /* Ajuste o tamanho do título */
  color: #fff;
  margin-bottom: 10px;
}

#dsd-description {
  font-size: 1.2rem; /* Ajuste o tamanho do texto */
  color: #e1e1e1;
  max-width: 80%; /* Limita a largura máxima do texto */
  word-break: break-word;
}

.input-group-prepend{
  margin: 10px;
}

.input-group .form-control {
  border-radius: 4px !important; /* Ajuste conforme necessário */
}

.input-group .toggle {
  margin-left: -1px !important; /* Ajusta o espaçamento para não cobrir a borda */
}

.input-group .form-control {
  border-left: 1px solid #ced4da !important; /* Cor padrão da borda */
}

#btnLogin {
  background-color: #4f7335 !important; /* Cor personalizada do botão */
  border-color: #4f7335 !important;
  color: white;
}

#btnLogin:hover {
  background-color: #659940 !important; /* Cor ao passar o mouse */
  border-color: #659940 !important;
}